[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-bcrypt = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
psycopg2-binary = "*"
datetime = "*"
black = "*"
psycopg2 = "*"
marshmallow = "*"
pyjwt = "*"
sqlalchemy = "==1.3.23"
flask-cors = "*"
pipenv = "*"

[dev-packages]

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
